<div class="function">
  <div>
    <h3>Функции в JavaScript и асинхронность</h3>
    <p>Функции являются основными строительными блоками программы и являються по сути инструкцией которую выполняет браузер, так же  любая функция это объект.
      Переменные объявленные через ключевые слова let и const видны только внути функций, так же они имеют доступ к внешним переменным.
      Существует два способа объявления функций: <br>
      1: Function Declaration - классический способ объявления функции; <br>
      2: Function Expresssion - это объявление функции, которое является частью какого-либо выражения (например присваивания). <br>
      В ECMAScript6 появились стрелочные функции которые делют код значительно компактнее и аккуратнее.
      В функцию мы можем передавать какие либо информацию, используя параметры иначе назваемые аргументами функции
    </p>
    <div>
      <p><strong>Асинхронность</strong></p>
      <ul>
        <li>setTimeout(function(), delay) - Используется для создания задержки выполнения переданной первым аргументом функции, задержка указываеться в ms</li>
        <li>Promise - специальный объект, который содержит своё состояние. Вначале pending («ожидание»), затем – одно из: fulfilled («выполнено успешно») или rejected («выполнено с ошибкой»).
          <p>Материал для ознакомления:
            <app-link [name]="'Learn JavaScript'" [link]="'https://learn.javascript.ru/promise'" [resource]="'страница'"></app-link> и
            <app-link [name]="'MDN'" [link]="'https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Promise'" [resource]="'страница'"></app-link>
          </p>
          <p>Видеоматериалы:
            <app-link [name]="'WebDev'" [link]="'https://www.youtube.com/watch?v=Sr0WT-XHwd0'" [resource]="'видео'"></app-link> и
            <app-link [name]="'Владилен Минин'" [link]="'https://www.youtube.com/watch?v=1idOY3C1gYU&t=171s'" [resource]="'видео'"></app-link>
          </p>
        </li>
        <li>Async/await - синтаксис для работы с промисами.
          <p>
            Материал для ознакомления:
            <app-link [name]="'Learn JavaScript'" [link]="'https://learn.javascript.ru/async-await'" [resource]="'страница'"></app-link>
            и
            <app-link [name]="'MDN'" [link]="'https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Statements/async_function'" [resource]="'страница'"></app-link>
          </p>
          <p>Видеоматериалы:
            <app-link [name]="'WebDev'" [link]="'https://www.youtube.com/watch?v=xXBTwb7cc88'" [resource]="'видео'"></app-link>   и
            <app-link [name]="'Владилен Минин'" [link]="'https://www.youtube.com/watch?v=SHiUyM_fFME'" [resource]="'видео'"></app-link>
          </p>
        </li>
      </ul>
    </div>
    <div>
      <p><strong>Запросы на сервер</strong></p>
      <p>Для запросов на сервер используется метод fetch() куда параметром передаеться url необходимого сервера. Он поддерживается всеми современными
        браузерами
      </p>
      <p>
        После этого вы можете увидеть метод .then(), прикреплённый в конец fetch() - этот метод является частью Promises - современная функция JavaScript
        для выполнения асинхронных операций. fetch() возвращает промис, который разрешает ответ, отправленный обратно с сервера, - мы используем .then()
        для запуска некоторого последующего кода после того, как промис будет разрешено, что является функцией, которую мы определили внутри неё.
      </p>
      <p>
        Существуют следующие виды зпросов н сервер:
      </p>
        <ul>
          <li>GET- Метод получение рессурса, это обычный запрос с использованием метода fetch('url')</li>
          <li>POST- Метод создания рессурса, отправляет данные на сервер. Тип тела запроса указывается заголовком Content-Type.
            Запрос POST обычно отправляется через HTML-форму и приводит к изменению на сервере.
          </li>
          <li>PUT - Метод обновление ресурса, при использовании перезаписывает данные на сервере</li>
          <li>DELETE - Метод удаления рессурса</li>
        </ul>
    </div>
  </div>
</div>
