<div class="content">
  <div>
    <h3>DOM - дерево</h3>
    <p>
      Объектная Модель Документа (DOM) является программным интерфейсом для HTML, XML и SVG документов. Это обеспечивает
      структурированное представление документа (дерева), и определяет способ, по которому структура может быть доступна для
      программы, для изменения структуры документа, его стиля и содержания.
    </p>
    <p>Основой любого HTML документа являются теги, в дереве DOM каждый тег является объектом, Вложенные теги
      являются «детьми» родительского элемента. Текст, который находится внутри тега, также является объектом.
      DOM чаще всего используется в JavaScript, но не является его частью, поэтому иногда с DOM работают в других языках.
    </p>
    <img src="https://javascript.ru/files/upload/jsintro/dom1.png" alt="Попробуйте перезагрузить страницу" class="img">

  </div>
</div>
