<div class="main__type-data">
  <h1 class="main__title">Переменные и типы данных в JS</h1>
  <div class="main__content">
      <h2 class="type__title">Типы данных</h2>
      <div class="type__content">
        <p class="content__begin">В JavaScript имеется 8 типов данных 6 первых из списка являются примитивными</p>
        <ul class="content__type">
          <li class="type__li">Number - для любых чисел: целочисленных или чисел с плавающей точкой; целочисленные значения</li>
          <li class="type__li">String - для строк. Строка может содержать ноль или больше символов, нет отдельного символьного типа.</li>
          <li class="type__li">Boolean - для true/false</li>
          <li class="type__li">Null - для неизвестных значений – отдельный тип, имеющий одно значение null</li>
          <li class="type__li">Bigint для целых чисел произвольной длины.</li>
          <li class="type__li">Undefined - для неприсвоенных значений – отдельный тип, имеющий одно значение undefined.</li>
          <li class="type__li">Symbol - для уникальных идентификаторов.</li>
          <li class="type__li">Object для более сложных структур данных.</li>
        </ul>
        <p class="content__text">Для проверки типов днных используется опретор typeoff(х). Типы Null и Undefined являются пустыми значениями. Null - явно присвоенное пустое значение,
          а Undefined не присвоенное значение по умочанию.
        </p>
      </div>
      <div class="type__method">
        <h2 class="method__title">Переменные в JS</h2>
          <p class="method__quantity">В JS существует три способа объявить переменную:</p>
          <ul class="method__type">
            <li class="type__li">var - не имеет блочной видимости, иными словами переменная объявленная таким способом будет видна через любые конструкции кроме
              функций, использовать такой способ в функции то она будет локальной перемернной внутри этой функции<li>
            <li class="type__li">let - более современный способ объявление перемернной для него существует блочная область видимости, иными словамми используя
              такой способ объявления переменная будет видна и использоваться только внутри блока например конструкции if, switch, циклах, функциях
            </li>
            <li class="type__li"s>const - похож на let за одним исключением, ее значение нельзя перезаписать и зачастую используется для объявления глобальных переменных</li>
          </ul>
      </div>
  </div>
</div>
