<div class="main">
    <app-element [header]="'Типы данных'" [routerLink]="['/type']" class="content"></app-element>
    <app-element [header]="'Массивы'" [routerLink]="['/array']" class="content"></app-element>
    <app-element [header]="'Функции и асинхронность'" [routerLink]="['/functions']" class="content"></app-element>
    <app-element [header]="'DOM'" [routerLink]="['/dom']" class="content"></app-element>
    <app-element [header]="'ООП'" [routerLink]="['/oop']" class="content"></app-element>
    <app-element [header]="'Основные источники'" [routerLink]="['/source']" class="content"></app-element>
</div>
