<div class="array">
  <div>
    <h3>Массивы и методы массивов в JS</h3>
    <p>	Массив представляет собой переменную, в которой в упорядоченном виде можно хранить целый набор каких-то значений,
      a каждое значение списка, который мы записали в массив, называется элементом массива. Они позволяют хранить в себе все ипы данных JavaScript, а также смешивать их между собой в одном массиве,
      каждый массив имеет свою длину и что бы получить необходимый элемент необходимо обратиться к его позиции в массиве, только необходимо помнить,
      что нумерация в JS начинается с 0. Так как в JavaScript слабая типизация данные хранящиеся в массиве можно так же изменять.
      Свойство length обозначающее длину массива автоматически обновляется при изменении массива. Если быть точными, это не количество элементов массива, а наибольший цифровой индекс плюс один.
    </p>
  </div>
  <div>
    <h4>Методы работы с массивами</h4>
    <div>
      <ul>
        <li>pop() - Удаляет последний элемент массива.</li>
        <li>push() - Добавляет элемент массива в конец.</li>
        <li>shift() - Удаляет первый элемент массива сдвигая очередь.</li>
        <li>unshift() - Добавляет элемент в начало массива.</li>
        <li>splice() - Синтаксис arr.splice(index, deleteCount, elem1, ..., elemN)
          Он начинает с позиции index, удаляет deleteCount элементов и вставляет elem1, ..., elemN на их место. Возвращает массив из удалённых элементов.
          Так же он допускает отрицательные индексы в таком случае он начнет отсчет элементов с конца массива.</li>
        <li>slice() - Синтаксис arr.slice([start], [end]), Он возвращает новый массив, в который копирует элементы, начиная с индекса start и до end (не включая end). Оба индекса start и end могут
          быть отрицательными. В таком случае отсчёт будет осуществляться с конца массива.</li>
        <li>concat() - Данный метод создаёт новый массив, в который копирует данные из других массивов и дополнительные значения. Его синтаксис:
          arr.concat(arg1, arg2...).</li>
        <li>forEach() - Позволяет запускать функцию для каждого элемента массива. arr.forEach(function(item, index, array)).</li>
        <li>indexOf/lastIndexOf и includes - Похожие между собой по синтаксису методы, используются для поиска элементов в массиве при строгом сравнении. Синтаксис arr.indexOf(item, from),
          где item необходимый элемент, а from указывает с какой позиции начать искать и возвращает инедкс но поиск идет с начала массива, второй метод делает тоже самое но с конца массива, а третий возвращает либо
          true либо false.</li>
        <li>find() и findIndex() - Позволяет найти объект удовлетовряющий условию arr.find(function(item, index, array) условие), где item элемент,
          index - его индекс, array - сам массив, возвращает первый найденный элемент, если ненаходит возвращает undefined, findIndex - тоже самое но возвращает индекс где был найден элемент.</li>
        <li>filter() - Тот же метод что и find но возвращает все элементы удовлетворяюще условию в виде массива</li>
        <li>map() - Метод вызывающий функцию для каждого элемента массива и возвращает массив результатов выполнения этой функции.</li>
        <li>sort() - Метод сортирует массив на месте, меняя в нём порядок элементов. При сравнении элементы массива приводятся к строкам, а для них
          применяется лексикографический порядок.
        </li>
        <li>reverse() - Меняет порядок элементов в массиве на обратный</li>
        <li>split() - Разбивает строку на массив по заданному разделителю</li>
        <li>join() - Наоборот собирает массив в строку вставляя между ними значение</li>
      </ul>
    </div>
  </div>
</div>
