<div class="title">
  <div>
    <ol>
      <h3>Список полезных каналов:</h3>
      <li><app-link [name]="'Владилен Минин'" [link]="'https://www.youtube.com/c/VladilenMinin/featured'" [resource]="'канал'"></app-link></li>
      <li><app-link [name]="'WebDeveloper Blog'" [link]="'https://www.youtube.com/c/SuprunAlexey'" [resource]="'канал'"></app-link></li>
      <li><app-link [name]="'WebDev с нуля'" [link]="'https://www.youtube.com/c/itgid'" [resource]="'канал'"></app-link></li>
    </ol>
  </div>
  <div>
    <ol>
      <h3>Список полезных источников:</h3>
      <li><app-link [name]="'Learn JavaScript'" [link]="'https://learn.javascript.ru/'" [resource]="'сайт'"></app-link></li>
      <li><app-link [name]="'MDN'" [link]="'https://developer.mozilla.org/ru/'" [resource]="'сайт'"></app-link></li>
      <li><app-link [name]="'CodeMu'" [link]="'https://code.mu/'" [resource]="'сайт'"></app-link></li>
      <li><app-link [name]="'Stack Overflow на русском'" [link]="'https://ru.stackoverflow.com/'" [resource]="'сайт'"></app-link></li>
    </ol>
  </div>
</div>
