/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #fbc02d;
  --main-color-hover: #a87b0b;
  --primaru-color: #c49000;
  --primary-color-hover: #503c05;
  --secondery-color: #fff263;
  --secondary-color-hover: #635121;
  --padding-block: 16px;
}

.body{
  color: white;
  background-color: #333;
  padding: 32px;
}
